bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
create/
Api/appsettings.Development.json
Api/appsettings.json

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
*/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Production docker-compose
docker-compose.yml

/Api/wwwroot/*